venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
data/
uploads/
*.md
*.pdf
*.docx
bin/
node_modules/
